.project
.pydevproject
.settings

*.pyc
*.pyo

doc/examples/complex/build
doc/examples/complex/dist
doc/examples/glade/build
doc/examples/glade/dist
doc/examples/simple/build
doc/examples/simple/dist
